intake
git+https://github.com/ESM-VFC/intake_zenodo_fetcher.git
hvplot
exifread
matplotlib
fsspec
pycurl
Pillow
opencv-python
requests
aiohttp
scivision
git+https://github.com/ots22/intake-xarray@feature/exif